
<section class="my-groups" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>소유 그룹 / 참여 그룹</span>
                    <h2>My Groups</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item popular-item"> <!-- 있는 만큼 반복 -->
                <div class="thumb">
                    <img src="/assets/img/group_img_1.jpg" alt="">
                    <div class="text-content">
                        <h3>소유한 그룹</h3>
                        <h4>그룹 이름</h4>
                        <span>프로젝트 목적 | 현재 n명</span>
                    </div>
                    <div class="plus-button">
                        <a href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item"> <!-- 있는 만큼 반복 -->
                <div class="thumb">
                    <img src="/assets/img/group_img_2.jpg" alt="">
                    <div class="text-content">
                        <h4>그룹 이름</h4>
                        <span>프로젝트 목적 | 현재 n명</span>
                    </div>
                    <div class="plus-button">
                        <a href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>