<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- index.html에 첨부 -->
<section class="featured-places" id="blog" th:fragment="group_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>그룹 List</span>
                    <h3>그룹을 살펴보고 원하는 곳에 참여하세요.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="g: ${groups}" class="col-md-4 col-sm-6 col-xs-12"> <!-- 있는 만큼 반복 -->
                <div class="featured-item">
                    <div class="thumb">
                        <img src="/assets/img/group_img_1.jpg" alt="">
                        <div class="overlay-content">
                            <h4 th:text="${g.status}" style="margin-top:40px;">모집중/모집종료</h4>
                        </div>
                        <div class="date-content">
                            <h6 th:text="${g.num.currentNum}+'명'">0명</h6>
                            <span th:text="'총 '+${g.num.maxNum}+'명'">총 m명</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <a th:href="@{'/group/detail/'+${g.id}}"><h4 th:text="${g.name}">그룹 이름</h4></a>
                        <h5 th:text="${g.aim}">그룹 목표</h5>
                        <ul>
                            <li th:text="'활동 예정구역 :' + ${g.location}">활동 예정 구역</li>
                            <li th:text="'활동 예정일 :'+ (${g.period?.startDate!=null}?${g.period?.startDate}:'미정') +' ~ '+(${g.period?.endDate!=null}?${g.period?.endDate}:'미정')">활동 예정 기간</li>
                            <li th:text="'희망 나이:' +${g.age.minAge}+'~'+${g.age.maxAge}">나이</li>
                        </ul>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-button">
                                    <a th:href="@{'/group/detail/'+${g.id}}">자세히 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===========그룹 1개 끝======= -->
        </div>
        <!--===========그룹 반복 테이블 끝======= -->
    </div>
</section>
