<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:replace="fragments/main/main_header :: mainHead"></th:block>
    <!--/*기본적인 html head 추가부 title*/-->
    <meta title="Team-Coder Home">
    <meta name="description" content="team-coder: 같이 코딩할 개발자 팀원들을 모집하세요.">

    <!--Etc Add on Lib-->

    <!--Custom or page css-->

</head>

<body>
<div class="wrap">
    <th:block th:replace="fragments/main/nav_header :: nav-header"></th:block>

    <div class="content-wrapper">
        <!--... 실제 컨텐츠 내용 작성... -->
        <section class="featured-places" id="apply">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>참가 신청한 유저 List</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:each="par: ${list}" class="col-md-4 col-sm-6 col-xs-12"> <!-- 있는 만큼 반복 -->
                        <div class="featured-item">
                            <div class="down-content">
                                <h5 style="display: flex;">
                                    <span id="partiId" th:text="${par.id}">참가번호</span> -
                                    <span id="groupId" th:text="${par.groupId}"></span>
                                </h5>
                                <a th:href="@{'/user/detail/'+${par.userId}}">
                                    <h4 th:text="${par.userName}">유저 이름</h4></a>
                                <h5 th:text="${par.groupName}">지원 그룹 이름 ()</h5>
                                <h5 th:text="'현재 상태 : '+${par.status}">현재 상태</h5>
                                <p th:text="${par.applyComment}">지원문장</p>
                                <div class="row">
                                    <div class="col-md-6 first-button">
                                        <div class="text-button" id="btn-reject">
                                            <a href="#">거절하기</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-button" id="btn-approve">
                                            <a href="#">승인하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:replace="fragments/main/main_footer"></th:block>
</div>

<script th:src="@{/js/vendor/bootstrap.min.js}"></script>

<script th:src="@{/js/datepicker.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!--custom_js 추가-->
<script th:src="@{/js/app/action.js}"></script>
</body>

</html>