<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<head>
    <title>Team-Coder</title>
    <th:block th:replace="fragments/common-head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-header"></th:block>

<section class="featured-places" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>참가 신청한 그룹 List</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"> <!-- 있는 만큼 반복 -->
                <div class="featured-item">
                    <div class="down-content">
                        <h4>그룹 이름</h4>
                        <span>그룹 목표</span>
                        <p>그룹 설명</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">취소하기/나가기</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">신청함/참여중/거절됨</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/footer"></th:block>
</body>
</html>