<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:replace="fragments/main/main_header :: mainHead"></th:block>
    <!--/*기본적인 html head 추가부 title*/-->
    <meta title="Team-Coder Home">
    <meta name="description" content="team-coder: 같이 코딩할 개발자 팀원들을 모집하세요.">

    <!--Etc Add on Lib-->

    <!--Custom or page css-->

</head>

<body>
<div class="wrap">
    <th:block th:replace="fragments/main/nav_header :: nav-header"></th:block>

    <div class="content-wrapper">
        <!--... 실제 컨텐츠 내용 작성... -->
        <section class="featured-places" id="apply">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>참가 신청한 그룹 List</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12"> <!-- 있는 만큼 반복 -->
                        <div class="featured-item">
                            <div class="down-content">
                                <h4>그룹 이름</h4>
                                <span>그룹 목표</span>
                                <p>그룹 설명</p>
                                <div class="row">
                                    <div class="col-md-6 first-button">
                                        <div class="text-button">
                                            <a href="#">취소하기/나가기</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-button">
                                            <a href="#">신청함/참여중/거절됨</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:replace="fragments/main/main_footer"></th:block>
</div>

<script th:src="@{/js/vendor/bootstrap.min.js}"></script>

<script th:src="@{/js/datepicker.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!--custom_js
        index.js 추가
    <script src="/js/app/index.js"></script>-->
</body>

</html>