<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:replace="fragments/main/main_header :: mainHead"></th:block>
    <!--/*기본적인 html head 추가부 title*/-->
    <meta title="Team-Coder Home">
    <meta name="description" content="team-coder: 같이 코딩할 개발자 팀원들을 모집하세요.">

    <!--Etc Add on Lib-->

    <!--Custom or page css-->

</head>

<body>
<div class="wrap">
    <th:block th:replace="fragments/main/nav_header :: nav-header"></th:block>

    <div class="content-wrapper">
        <!--... 실제 컨텐츠 내용 작성... -->
        <div class="container" style="padding-top: 60px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>내가 만든 그룹 관리</h2>
                    <a href="/group/save" class="btn btn-success active" role="button">새로운 그룹 만들기</a>
                    <!--......Group List......
                    <th:block th:replace="fragments/group-table :: table"></th:block>-->
                    <section th:fragment="table" class="pricing-tables">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-heading">
                                        <span>Group List</span>
                                        <h2>그룹 리스트와 상세정보</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div th:each="g: ${groups}" class="col-md-4 group-table-item" >
                                    <div class="table-item">
                                        <div class="top-content">
                                            <h1 th:text="${g.name}">그룹명</h1>
                                            <h3 th:text="${g.aim}">활동 목표</h3>
                                            <span th:text="${g.status}">모집중/모집종료</span>
                                        </div>
                                        <ul>
                                            <li th:text="${'현재: '+g.num.currentNum+'/ 최대: '+g.num.maxNum}">현재 인원</li>
                                            <li th:text="${g.location}">활동 예정 구역</li>
                                            <li th:text="(${g.period?.startDate!=null}?${g.period?.startDate}:'미정') +' ~ '+(${g.period?.endDate!=null}?${g.period?.endDate}:'미정')">활동 예정 기간</li>
                                            <li th:text="${'희망 나이:' + g.age.minAge+'~'+g.age.maxAge}">나이</li>
                                        </ul>
                                        <div class="blue-button">
                                            <a th:href="@{/group/update/{groupId}(groupId=${g.id})}">수정하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/main/main_footer"></th:block>
</div>

<script th:src="@{/js/vendor/bootstrap.min.js}"></script>

<script th:src="@{/js/datepicker.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!--custom_js
        index.js 추가
    <script src="/js/app/index.js"></script>-->
</body>

</html>