<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:replace="fragments/main/main_header :: mainHead"></th:block>
    <!--/*기본적인 html head 추가부 title*/-->
    <meta title="Team-Coder Group Update">
    <meta name="description" content="team-coder: 같이 코딩할 개발자 팀원들을 모집하세요.">

    <!--Etc Add on Lib-->

    <!--Custom or page css-->

</head>

<body>
<div class="wrap" id="update">
    <th:block th:replace="fragments/main/nav_header :: nav-header"></th:block>

    <div class="content-wrapper">
        <!--... 실제 컨텐츠 내용 작성... -->
        <div class="container">
            <div class="row form-input">
                <div class="col-md-12" th:if="${not #lists.isEmpty(userName)}">
                    <h1>그룹 등록</h1>
                    <form th:action="@{'/api/v1/group/'+${group.id}}" method="put">
                        <table class="form-table" th:object="${group}">
                            <tr>
                                <td>그룹 id</td>
                                <td><h5 id="groupId" th:text="*{id}"></h5></td>
                            </tr>
                            <tr>
                                <td>그룹명<small>(필수)</small></td>
                                <td>
                                    <input type="text" class="form-control"
                                           th:field="*{name}" placeholder="그룹의 이름을 입력하세요"/>
                                </td>
                            </tr>
                            <tr class="form-check form-check-inline">
                                <td>그룹의 목적을 하나만 선택하세요 <small>(필수)</small></td>
                                <td>
                                    <select id="aim" th:field="*{aim}" class="form-control">
                                        <!--/*자동 옵션 반복 */-->
                                        <option th:value="CONTEST" th:selected="(*{aim.name()}=='CONTEST')">공모전</option>
                                        <option th:value="STUDY" th:selected="(*{aim.name()}=='STUDY')">스터디</option>
                                        <option th:value="PROJECT" th:selected="(*{aim.name()}=='PROJECT')">프로젝트 개발
                                        </option>
                                        <option th:value="OTHER" th:selected="(*{aim.name()}=='OTHER')">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>개발 분야 태그 (띄어쓰기 없이 ','로 구분하여 입력해주세요.) <small>(필수)</small></td>
                                <td>
                                    <input type="text" class="form-control" id="tags" th:field="*{tags}"
                                           placeholder="예 : Java, Python, 백엔드, 프론트, 인공지능,..."/>
                                </td>
                            </tr>
                            <tr>
                                <td>최대 인원</td>
                                <td>
                                    <select class="form-control" id="maxNum" th:value="*{num.maxNum}">
                                        <option>Select</option>
                                        <option th:each="n : ${#numbers.sequence(1,50)}" th:value="${n}" th:text="${n}"
                                                th:selected="(*{num.maxNum}==${n})"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>나이 제한(최소/최대)</td>
                                <td>
                                    <select class="form-control" id="minAge" th:value="*{age.minAge}">
                                        <option>Select</option>
                                        <option th:each="n : ${#numbers.sequence(1,100)}" th:value="${n}" th:text="${n}"
                                                th:selected="(*{age.minAge}==${n})"></option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" id="maxAge" th:value="*{age.maxAge}">
                                        <option>Select</option>
                                        <option th:each="n : ${#numbers.sequence(1,100)}" th:value="${n}" th:text="${n}"
                                                th:selected="(*{age.maxAge}==${n})"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>활동 예정일 <small>(필수)</small></td>
                                <td>
                                    <input type="text" class="form-control" id="start"
                                           th:value="*{period?.startDate}" placeholder="활동 시작 예정일"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="end"
                                           th:value="*{period?.endDate}" placeholder="활동 종료 예정일"/>
                                </td>
                            </tr>
                            <tr>
                                <td>학력 제한(다음 학력 이상)</td>
                                <td>
                                    <select id="education" class="form-control" th:field="*{education}">
                                        <!--/*자동 옵션 반복 */-->
                                        <option th:each="e: ${edu}" th:value="${e.key}" th:text="${e.value}"
                                                th:selected="(*{education}==${e.key})"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>활동을 진행하기 희망하는 지역을 선택해주세요</td>
                                <td>
                                    <select id="location" class="form-control" th:field="*{location}">
                                        <!--/*자동 옵션 반복 */-->
                                        <option th:each="o: ${loc}" th:value="${o.key}" th:text="${o.value}"
                                                th:selected="(*{location}==${o.key})"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>그룹 설명 및 팀원들께 하고 싶은 말을 적어주세요. <small>(필수, 500자 이내)</small></td>
                                <td>
                                    <textarea class="form-control formLongText" th:field="*{description}"
                                              placeholder="기타 세부사항"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="/group/manage" role="button" class="btn btn-secondary"
                                       style="float: right;">취소</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" value="수정 완료" class="btn btn-primary" id="btn-update"
                                           style="float: right;"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" value="삭제" class="btn btn-danger" id="btn-delete"
                                           style="float: right;"/></td>
                            </tr>
                        </table>
                    </form>

                    <form th:action="@{'/api/v1/group/pic/' + ${group.id}}" method="post" enctype="multipart/form-data"
                          name="fileForm">
                        <table>
                            <tr>
                                <td><label th:for="picture">관련 문서나 사진</label></td>
                                <td><input type="file" name="file" id="file"
                                           accept="image/png, image/jpeg, video/mp4, application/pdf,application/vnd.ms-excel"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!--                                <img th:src="@{${group.file}}" id="picture_file" alt="관련 문서나 사진을 입력해보세요.">-->
                                </td><!--TODO: image가 아님..-->
                                <td><input type="button" name="Upload" value="Upload"
                                           onclick="submit_file_form(document.forms['fileForm'].file, 'fileForm');"
                                           class="btn btn-info"/>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="pastPath" id="pastPath" th:value="${group.file}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/main/main_footer"></th:block>
</div>

<script th:src="@{/js/vendor/bootstrap.min.js}"></script>

<script th:src="@{/js/datepicker.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!--...custom_js 추가...-->
<script th:src="@{/js/app/groupManage.js}"></script>
<script th:src="@{/js/app/fileCheck.js}"></script>
<script th:src="@{/js/datepicker.ko.js}"></script>
</body>

</html>