{{>layout/header}}
{{>layout/nav-header}}

<section class="featured-places" id="storage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>저장한 그룹 List</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"> <!-- 있는 만큼 반복 -->
                <div class="featured-item">
                    <div class="down-content">
                        <h4>그룹 이름</h4>
                        <span>그룹 목표</span>
                        <p>그룹 설명</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">내 저장소에서 삭제</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">신청하기/신청함/참여중/거절됨</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{{>layout/footer}}