<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:replace="fragments/main/main_header :: mainHead"></th:block>
    <!--/*기본적인 html head 추가부 title*/-->
    <meta title="Team-Coder Home">
    <meta name="description" content="team-coder: 같이 코딩할 개발자 팀원들을 모집하세요.">

    <!--Etc Add on Lib-->


    <!--Custom or page css-->

</head>

<body>
    <div class="wrap">
        <th:block th:replace="fragments/main/nav-header :: nav-header"></th:block>

        <div class="content-wrapper">
            <!--... 실제 컨텐츠 내용 작성... -->
            <section class="user-info" id="user">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" th:if="${not #lists.isEmpty(userName)}">
                            <h1>내 정보 관리</h1>
                            <h4>특정 정보들은 입력하지 않으면 그룹 서비스 정상 이용이 불가능~~~</h4>

                            <form th:action="@{'/api/v1/user/pic/' + ${user.id}}" method="post" enctype="multipart/form-data">
                                <table>
                                    <tr><td><label th:for="picture">프로필 사진</label></td>
                                        <td><input type="file" name="picture" accept="image/png, image/jpeg" /></td></tr>
                                    <tr><td><img th:src="@{${user.picture}}" id="picture_img" alt="내 프로필 사진"></td>
                                        <td><input type="submit" id="btn-picture" th:value="upload" /></td></tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <th:block th:replace="fragments/main/main_footer"></th:block>
    </div>

    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>

    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <!--custom_js            
            index.js 추가
        <script src="/js/app/index.js"></script>-->
    <!--
    <script>
        console.log("${user.education}")
        alert( "${user}")
        alert('${user.location}')
    </script>
    -->
</body>

</html>