{{>layout/header}}
{{>layout/nav-header}}

<section class="user-info" id="user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>내 정보 관리</h1>
                <h4>특정 정보들은 입력하지 않으면 그룹 서비스 정상 이용이 불가능~~~</h4>
                {{#user}}
                    <form>
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="이름을 입력하세요" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="name">프로필 사진</label>
                            <img src="{{picture}}" alt="내 프로필 사진">
                        </div>
                        <div class="form-group">
                            <label for="tags">관심 분야</label>
                            <input type="text" class="form-control" id="tags" placeholder="예 : Java, Python, 백엔드, 프론트, 인공지능,...">
                        </div>
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="text" class="form-control" id="email"
                                   placeholder="이메일 주소를 입력하세요 (예: Hong123@naver.com)" value="{{email}}">
                        </div>
                        <div class="form-group">
                            <label for="age">나이</label>
                            <input type="text" class="form-control" id="age"
                                   placeholder="현재 나이 (예: 20)">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="education">최종 학력</label>
                                <select id="education" class="form-control">
                                    <option value="high" selected>고졸</option>
                                    <option value="inCollege">대학 재학중</option>
                                    <option value="juniorCollege">전문대졸</option>
                                    <option value="bachelor">대졸(학사)</option>
                                    <option value="graduateSchool">대학원 재학중</option>
                                    <option value="master">석사</option>
                                    <option value="doctor">박사</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="location">지내고 있는 지역을 선택해주세요</label>
                                <select id="location" class="form-control">
                                    <option value="seoul" selected>서울시</option>
                                    <option value="incheon">인천</option>
                                    <option value="busan">부산</option>
                                    <option value="daegu">대구</option>
                                    <option value="daejeon">대전</option>
                                    <option value="gwangju">광주</option>
                                    <option value="ulsan">울산</option>
                                    <option value="gyeonggi">경기도</option>
                                    <option value="gangwon">강원도</option>
                                    <option value="chungcheongN">충청북도</option>
                                    <option value="chungcheongS">충청남도</option>
                                    <option value="jeollaN">전라북도</option>
                                    <option value="jeollaS">전라남도</option>
                                    <option value="gyeongsangN">경상북도</option>
                                    <option value="gyeongsangS">경상남도</option>
                                    <option value="jeju">제주도</option>
                                    <option value="sejong">세종시</option>
                                </select>
                            </div>
                        </div>
                    </form>
                {{/user}}
                <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
                <button type="button" class="btn btn-danger" id="btn-delete"><small>탈퇴하기</small></button>
            </div>
        </div>
    </div>
</section>

{{>layout/footer}}