<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img th:src="@{/assets/img/footer_logo.png}" alt="Venue Logo">
                    </div>
                    <p>이 사이트는 웹 풀스택 개발자 이주연이 만든 사이트로 아직 테스트 중인 사이트입니다. 버그가 있을 수 있습니다. 코딩 팀을 모으기 힘들었던 경험에서 사이트 기획을 떠올렸습니다.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.facebook.com/JuyeonLee97"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/juyeon-lee-669753177"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-stop"></i>디자인 용입니다</a></li>
                                <li><a th:href="@{/privacy/rule}"><i class="fa fa-stop"></i>개인정보처리방침</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Register</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Login</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-stop"></i>Our Clients</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Partnerships</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Blog Entries</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p>이 사이트는 웹 풀스택 개발자 이주연이 만든 사이트로 아직 테스트 중인 사이트입니다. 버그가 있을 수 있습니다.</p>
                    <ul>
                        <li><i class="fas fa-envelope"></i><span> Email:</span><a href="#">ljo0831@naver.com</a></li>
                        <li><i class="fab fa-github"></i><span> GitHub:</span><a href="https://github.com/Juyeon-Lee">Juyeon-Lee</a></li>
                        <li><i class="fas fa-blog"></i><span> Blog Site:</span><a href="https://juyeon-lee.github.io/">Juyeon's Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer" th:fragment="subFooter">
    <p>Copyright &copy; 2020 Juyeon-Lee

        - Design: <a rel="nofollow" href="http://www.templatemo.com">Template Mo</a></p>
</div>

</html>