<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header id="header" th:fragment="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button id="primary-nav-button" type="button">Menu</button>
                <a href="/"><div class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="TeamCoder Logo">
                </div></a>
                <nav id="primary-nav" class="dropdown cf">
                    <ul class="dropdown menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/search}">Search Group</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/search}">목적으로 조회</a></li>
                                <li><a th:href="@{/search}">태그로 조회</a></li>
                                <li><a th:href="@{/search}">설정으로 조회</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/}">그룹관리</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/group}">소유그룹 생성/수정</a></li>
                                <li><a th:href="@{/user/apply}">참여 신청 현황</a></li>
                                <li><a th:href="@{/user/storage}">저장한 그룹</a></li>
                            </ul>
                        </li>
                        <li><a class="scrollTo" data-scrollTo="services" th:href="@{/user/info}">내정보</a></li>
                            <li th:if="${not #lists.isEmpty(userName)}"><a id="primary-nav-logout" th:href="@{/logoption}">로그아웃</a></li>
                            <li th:if="${#lists.isEmpty(userName)}"><a id="primary-nav-login" th:href="@{/logoption}">로그인</a></li>
                    </ul>
                </nav><!-- / #primary-nav -->
            </div>
        </div>
    </div>
</header>

</html>